<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zack Klinger, Web Developer, Portland, OR</title>
  <!-- load lodash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>
  <!-- load jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- load AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <!-- link to Bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- link to Bootstrap stylesheet -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="main.css"/>
  <!-- Francois One font -->
  <link href='https://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
  <!-- Lato font -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script src="app.js" type="application/javascript"></script> 
</head>
<body ng-app="calcApp">
<div class="wrapper" ng-controller="MainController as vm">
  <div class="calculator">
    <p>Calculatron</p>
    <div class="display">
      <div class="buffer">
        <div class="input" ng-repeat="input in vm.buffer track by $index" ng-bind="input"></div>
      </div>
      <div class="current">{{ vm.display }}</div>
    </div>
    <div class="pad">
      <div class="key btn" ng-repeat="key in vm.keys track by $index" ng-click="key.func(key.value)" ng-class="{equals: key.name === '='}">
        {{ key.name }}
      </div>
    </div>
  </div>
</div>
</body>
</html>